---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #416C42;
    background-image: none;
    color: rgb(252, 252, 252);
}

.project-tagline {
    color: rgb(252, 252, 252);
}

a {
    color: #418e49;
}

h2 {
    color: rgb(42, 42, 42);
}

